.header {
  border-bottom: 1px solid rgb(172, 172, 172);
  margin-bottom: 10px;
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 100px;
}

/* .left-section {
} */

.middle-section {
  display: flex;
  justify-content: center;
}

.hamburger-menu {
  width: 20px;
}

.youtube-logo {
  width: 90px;
}

.search-box {
  width: 360px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
}

.search-icon {
  width: 25px;
  vertical-align: middle;
  padding: 0px 20px;
}

.search-container {
  border: 1px solid rgb(185, 185, 185);
}

.voice-search-icon {
  width: 25px;
  padding: 8px;
  border-radius: 50px;
  background-color: #f8f8f8;
  margin-left: 10px;
}

.right-section {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
}

.upload,
.youtube-apps,
.notifications {
  width: 30px;
}

.usr-profile-pic {
  width: 40px;
  border-radius: 15px;
}
